grant {
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    // Needed for GSON serialization
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};
